body{
    margin: 0px;
    padding: 0px;
    max-width: 1440px;
}

.button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item{
    padding: 15px;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
} 

.nav-link{
    text-decoration: none;
    color: black;
}


.nav-link:hover{
text-decoration: underline;
}


.block{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
    
.information{
    width: 459px;
}

h1{
    font-family: 'DM Sans';
    font-size: 80px;
}

.img{
    width: 610px;
}