*{
    margin: 0px;
    padding: 0px;
    max-width: 1440px;
}

.page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
   
}

li{
    padding: 15px;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
}

